* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 20px 20px 70px;
}

.sell-container {
    min-height: 100px; /* Add a min height */
    height: auto; /* Allow it to grow dynamically */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--tg-theme-bg-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(74, 136, 154, 0.52);
    border: 1px rgba(74, 136, 154, 0.54);
}

.form-container {
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: stretch;
    height: auto; 
    overflow: visible;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}


h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--tg-theme-text-color);
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#list-new-item, #check-listed-items {
    font-family: 'Roboto', sans-serif;
    font: 14px;
} 

.option-btn {
    flex: 1;
    margin: 0 10px;
    padding: 15px;
    font-size: 1rem;
    background-color: #326472;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-btn:hover {
    background-color: #274b5c;
}

label {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--tg-theme-text-color);
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="file"] {
    display: block;
    margin-top: 10px;
    width: 100%;
}

textarea {
    resize: none;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #326472;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #274b5c;
}

#loading {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #326472;
    color: white;
    transition: background-color 0.3s ease;
}

/* Listed items section styling */
#listed-items .items-list {
    display: flex;
    flex-direction: column;
}

#listed-items .items-list .item-box {
    background-color: var(--tg-theme-bg-color);
    box-shadow: 0 2px 5px rgba(74, 136, 154, 0.52);
    border: 1px rgba(74, 136, 154, 0.54);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

/* Footer navigation */
.bottom-navigation {
    position: fixed;
    bottom: 5px;
    left: 21px;
    right: 21px;
    background-color: var(--tg-theme-bg-color);
    border: rgba(74, 136, 154, 0.44);
    box-shadow: 0 2px 5px rgba(74, 136, 154, 0.44);
    border-radius: 10px;
    border-top: 1px solid rgba(53, 108, 110, 0.59);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000;
}

.nav-icon {
    text-align: center;
    color: var(--tg-theme-text-color);
    font-size: 16px;
    text-decoration: none;
    flex: 1;
}

.nav-icon i {
    font-size: 16px;
    display: block;
}

.nav-icon span {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
    display: block;
}

.nav-icon:hover {
    color: #4b8898;
}

.listed-items-container {
    margin-top: 30px;
}

.listed-items-table {
    width: 100%;
}

.listed-item-row {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.header-row {
    font-weight: bold;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.item-image-header, .item-price-header, .item-status-header, .item-unlist-header {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.listed-item-row .item-image, .listed-item-row, .listed-item-row .item-status, .listed-item-row .item-unlist {
    flex: 1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.no-items {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin: 10px;
}

.list-price {
    color: #326472;
    font-weight: bold;
}

.item-price {
    flex: 1;
    text-align: center;
    overflow: hidden;
}

.item-image img {
    max-width: 60px;
    height: auto;
    border-radius: 5px;
}

.item-unlist {
    display: flex;
    gap: 10px; 
    justify-content: space-between;
    align-items: center;
}

.unlist-button {
    height: 25px;
    width: 70px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 1px solid #ef1d1d;
}

.boost-button {
    padding-top: 5px;
    height: 25px;
    width: 70px;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease;
    border: 1px solid #ef1d1d;
}

.unlist-button:hover {
    /* background-color: var(--tg-theme-bg-color); */
    transform: scale(1.2);
    border: 1px solid #b00b0b;
}

#back-button {
    position: fixed;
    top: 10px; /* Distance from the top */
    left: 10px; /* Distance from the left */
    background-color: transparent; /* Transparent background */
    color: var(--tg-theme-text-color); /* Adjust color as needed */
    border: none;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000; /* Ensure it appears on top of other elements */
    display: flex;
    align-items: center;
}

#back-button i {
    margin-right: 5px; /* Space between icon and text */
    font-size: 18px;
    font-weight: bold;
}

#back-button:hover {
    color: #878b8c; /* Darker color for hover effect */
}

#fas_arrow {
    padding-left: 5px;
}

#city-list {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 200px;
    max-height: 400px;
    background-color: var(--tg-theme-bg-color);
    border: 1px solid #9c9b9b6e;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px 0;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scroll */
}

/* Disable scrolling the background when the dropdown is active */
body.no-scroll {
    overflow: hidden;
}

#city-list li {
    padding: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

#city-list li:hover {
    background-color: #d7d5d5;
}

/* Initially hide the dropdown */
.hidden {
    display: none;
}

.location {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.location i {
    margin-right: 5px;
    font-size: 16px;
}

#category-list {
    position: absolute;
    top: 195px;
    left: 80px;
    width: 200px;
    max-height: 400px;
    background-color: var(--tg-theme-bg-color);
    border: 1px solid #9c9b9b6e;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px 0;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scroll */
}


#category-list li {
    padding: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

#category-list li:hover {
    background-color: #d7d5d5;
}

.category {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.category i {
    margin-right: 5px;
    font-size: 16px;
}


#sub-category-list {
    position: absolute;
    top: 70%;
    left: 80px;
    width: 200px;
    max-height: 400px;
    background-color: var(--tg-theme-bg-color);
    border: 1px solid #9c9b9b6e;
    border-radius: 5px;
    list-style-type: none;
    padding: 10px 0;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Enable vertical scroll */
}

#sub-category-list li {
    padding: 10px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
}

#sub-category-list li:hover {
    background-color: #d7d5d5;
}

.sub-category {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
}

.sub-category i {
    margin-right: 5px;
    font-size: 16px;
}

#sub-category-dropdown-trigger {
    position: relative;
    cursor: pointer;
}

/* Initially hide the dropdown */
/* #hidden-sub-category-form {
    display: none;
} */
